In [52]:
import pandas as pd
import math

In [177]:
#Atribuindo valores fixos conforme definição do enunciado

#ID do sistema (Fixo)
ID_sistema = "MDA  "
#ID do tipo de linha 0=Header 1=Linha de dados
id_tipo_linha = "1"
#Código da ação (Fixo)
cod_acao = "ESPE"
#Código da operação (Fixo)
cod_operacao = "2021113018198581"
#Conta cliente (Fixo)
conta_cliente = "12692107"
#Código agendamento (Fixo)
cod_agendamento = "                "
#Dicionario de destinos de alocação
destinos = {"PF":" 1","PJ":"14"}

In [119]:
data = pd.read_excel("/content/drive/MyDrive/Case automacao/Dados teste.xlsx",usecols="A" )
ano = data.columns[0].year
mes = data.columns[0].month
dia = data.columns[0].day

2021 12 27

In [178]:
#Lendo apenas os dados de CPF da planilha e limpando os valores nulos para a coluna CPF
dados_cpf = pd.read_excel("/content/drive/MyDrive/Case automacao/Dados teste.xlsx", skiprows=2, header=1, na_values=" ", usecols="A:C")
dados_cpf_limpo = dados_cpf.dropna(subset=['CPF/CNPJ'])
dados_cpf_limpo

          CPF/CNPJ   Qtde Tipo do Comitente
1     057943715-95   14.0                PF
2     294758848-74   60.0                PF
3     284362418-51  200.0                PF
4     178494508-09  150.0                PF
5     296366805-82   20.0                PF
6     066246156-80   40.0                PF
7     033166375-91  120.0                PF
8     104745008-96  200.0                PF
9     072577059-76  150.0                PF
10    113259828-14   50.0                PF
11    273391768-45   60.0                PF
12    163432198-70  100.0                PF
13    297739438-95   40.0                PF
14    274859338-33  100.0                PF
15    013940185-76    3.0                PF
16    546476577-87    4.0                PF
17  546.476.577-87   30.0                PF
18    385342958-08   15.0                PF
19    042615318-95   50.0                PF
20    464166685-72   90.0                PF
21    939864590-49   50.0                PF
22    010565910-05    3.0                PF
23    611164759-87  150.0                PF
24    882125059-87   30.0                PF
25    939211289-00  100.0                PF
26    249402409-91   62.0                PF
27    810452719-34  130.0                PF
28    475954189-68   50.0                PF
29    045441639-35  100.0                PF
30    043672249-61   25.0                PF
31    231418679-68   50.0                PF
32    267123018-40   20.0                PF
33    447835660-20   20.0                PF
34    404176068-26    5.0                PF
35  30876735000144  500.0                PJ

In [209]:
def conferir_identificador(valor_cpf):
  if "-" in valor_cpf:
    valor_cpf = valor_cpf.replace('-','')
  if "." in valor_cpf:
    valor_cpf = valor_cpf.replace('.','')
  if len(valor_cpf)==11:
    valor_cpf = valor_cpf + "   "
  return valor_cpf

In [210]:
header = {'data':[ID_sistema + str(0) + cod_acao + str(ano) + str(mes) + str(dia)]}
data = pd.DataFrame(header)
for i in dados_cpf_limpo.index:
  cpf = str(conferir_identificador(dados_cpf_limpo["CPF/CNPJ"][i]))
  qtd = str(math.trunc(dados_cpf_limpo["Qtde"][i]))
  tipo_comitente = dados_cpf_limpo["Tipo do Comitente"][i]
  destino_colocacao = destinos[dados_cpf_limpo["Tipo do Comitente"][i]]
  datarow =  {'data':ID_sistema + id_tipo_linha + cod_acao + str(ano) + str(mes) + str(dia) + cod_operacao + qtd + conta_cliente + tipo_comitente + cpf + destino_colocacao + cod_agendamento}
  data = data.append(datarow, ignore_index=True)
data

                                                 data
0                                  MDA  0ESPE20211227
1   MDA  1ESPE2021122720211130181985811412692107PF...
2   MDA  1ESPE2021122720211130181985816012692107PF...
3   MDA  1ESPE20211227202111301819858120012692107P...
4   MDA  1ESPE20211227202111301819858115012692107P...
5   MDA  1ESPE2021122720211130181985812012692107PF...
6   MDA  1ESPE2021122720211130181985814012692107PF...
7   MDA  1ESPE20211227202111301819858112012692107P...
8   MDA  1ESPE20211227202111301819858120012692107P...
9   MDA  1ESPE20211227202111301819858115012692107P...
10  MDA  1ESPE2021122720211130181985815012692107PF...
11  MDA  1ESPE2021122720211130181985816012692107PF...
12  MDA  1ESPE20211227202111301819858110012692107P...
13  MDA  1ESPE2021122720211130181985814012692107PF...
14  MDA  1ESPE20211227202111301819858110012692107P...
15  MDA  1ESPE202112272021113018198581312692107PF0...
16  MDA  1ESPE202112272021113018198581412692107PF5...
17  MDA  1ESPE2021122720211130181985813012692107PF...
18  MDA  1ESPE2021122720211130181985811512692107PF...
19  MDA  1ESPE2021122720211130181985815012692107PF...
20  MDA  1ESPE2021122720211130181985819012692107PF...
21  MDA  1ESPE2021122720211130181985815012692107PF...
22  MDA  1ESPE202112272021113018198581312692107PF0...
23  MDA  1ESPE20211227202111301819858115012692107P...
24  MDA  1ESPE2021122720211130181985813012692107PF...
25  MDA  1ESPE20211227202111301819858110012692107P...
26  MDA  1ESPE2021122720211130181985816212692107PF...
27  MDA  1ESPE20211227202111301819858113012692107P...
28  MDA  1ESPE2021122720211130181985815012692107PF...
29  MDA  1ESPE20211227202111301819858110012692107P...
30  MDA  1ESPE2021122720211130181985812512692107PF...
31  MDA  1ESPE2021122720211130181985815012692107PF...
32  MDA  1ESPE2021122720211130181985812012692107PF...
33  MDA  1ESPE2021122720211130181985812012692107PF...
34  MDA  1ESPE202112272021113018198581512692107PF4...
35  MDA  1ESPE20211227202111301819858150012692107P...

In [211]:
data.to_csv('MDATest.txt',index=False,header=False)